{% extends 'layout/base.html' %}
{% block content %}
<!-- Shopping Cart -->
<div class="container my-5">
    <h2 class="text-center mb-4">Giỏ hàng mua sắm của bạn</h2>
    {% if cart_key not in session or not session.get(cart_key) %}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% else %}
        <div class="alert alert-info mt-1">KHÔNG có sản phẩm nào trong giỏ!</div>
        {% endif %}
    {% else %}
    <div class="row">
        <!-- Cart Items -->
        <div class="col-lg-8">
            {% for prod in session[cart_key].values() %}
            <div class="card mb-3" id="cart{{ prod.id }}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ prod.image }}" class="img-fluid rounded-start" alt="{{ prod.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ prod.title }}</h5>
                            <p class="card-text">Giá: {{ "{:,.0f}".format(prod.price) }} đ</p>
                            <div class="input-group">
                                <input type="number" id="ip-in-cart-{{prod.id}}" class="form-control text-center" value="{{ prod.purchase_quantity }}"
                                       style="width: 50px;" onblur="updateCart({{ prod.id }}, this)" min="0">
                            </div>
                            <p class="card-text mt-2">
                                <button class="btn btn-danger btn-sm" onclick="deleteCart({{ prod.id }})">Xóa</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Cart Summary -->
        <div class="col-lg-4">
            <div class="card">
                <form class="card-body" id="payment-method-form" action="/payments">
                    <h5 class="card-title">Cart Summary</h5>
                    <hr>
                    <p class="card-text d-flex justify-content-between">
                        <span>Tổng sản phẩm:</span>
                        <span class="cart-counter">{{ cart_stats.total_quantity }}</span>
                    </p>
                    <p class="card-text d-flex justify-content-between">
                        <span>Thành tiền:</span>
                        <span class="cart-amount">{{ "{:,.0f}".format(cart_stats.total_amount) }} đ</span>
                    </p>
                    <p class="card-text d-flex justify-content-between">
                        <span>Giảm giá:</span>
                        <span>0 đ</span>
                    </p>
                    <hr>
                    <p class="card-text d-flex justify-content-between fw-bold">
                        <span>Tổng tiền:</span>
                        <span class="cart-amount">{{ "{:,.0f}".format(cart_stats.total_amount) }} đ</span>
                    </p>

                    <h5 class="mb-3">Phương thức thanh toán</h5>
                    <!-- Thanh toán tại cửa hàng -->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="payAtStore"
                               value="store" checked>
                        <label class="form-check-label" for="payAtStore">
                            Thanh toán tại cửa hàng
                        </label>
                    </div>

                    <!-- Thanh toán bằng PayPal -->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="payWithPaypal"
                               value="paypal">
                        <label class="form-check-label" for="payWithPaypal">
                            Thanh toán bằng PayPal
                        </label>
                    </div>
                    {% if current_user.is_authenticated %}
                    <button type="submit" class="btn btn-primary w-100">Thanh toán</button>
                    {% else %}
                    <p class="mt-1">Vui lòng <a href="/login?next=/cart">đăng nhập</a> để thanh toán</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
