{% extends 'layout/base.html' %}

{% block content %}
<section class="vh-150" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <h3 class="mt-2 text-center">Đăng ký</h3>
        <form action="" method="post">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
                       required>
                <label for="username">Tên đăng nhập</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
                <label for="pwd">Mật khẩu</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone_number" required>
                <label for="phone">Số điện thoại</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="first_name" required>
                <label for="firstname">Tên của bạn</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" name="last_name" required>
                <label for="lastname">Họ của bạn</label>
            </div>
            <button type="submit" class="btn btn-info">Đăng ký</button>
        </form>
    </div>
</section>

{% endblock %}
